
    <!-- BEGIN CONTENT-->
    <div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li class="active">Buttons</li>
            </ol>
        </div>
        <div class="section-body contain-lg">

            <!-- BEGIN TYPES -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-primary">Buttons</h1>
                </div>
                <div class="col-lg-8">
                    <article class="margin-bottom-xxl">
                        <p class="lead">
                            A button consists of text and/or an icon that clearly communicates what action will occur when the user touches it.
                        </p>
                        <p>
                            There are five types of buttons:
                        </p>
                        <ul>
                            <li>Default button: a typically rectangular button that does not lift.</li>
                            <li>Raised button: a typically rectangular button that lifts.</li>
                            <li>Floating action button: a circular button that lifts.</li>
                            <li>Icon toggle button: a circular button with a transparent background that does not lift.</li>
                            <li>Flat button: a button with a transparent background that does not lift.</li>
                        </ul>
                        <p>All types of buttons can emit ink reactions on press.</p>
                    </article>
                </div><!--end .col -->
            </div><!--end .row -->
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center height-3">
                            <br/>
                            <button type="button" class="btn ink-reaction btn-flat btn-primary">Button</button>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Flat button</em>
                </div><!--end .col -->
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center height-3">
                            <br/>
                            <button type="button" class="btn ink-reaction btn-icon-toggle btn-primary"><i class="fa fa-star"></i></button>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Icon toggle button</em>
                </div><!--end .col -->
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center height-3">
                            <br/>
                            <button type="button" class="btn ink-reaction btn-floating-action btn-primary"><i class="fa fa-star"></i></button>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Floating action button</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body text-center height-3">
                            <br/>
                            <button type="button" class="btn ink-reaction btn-raised btn-primary">Button</button>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Raised button</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body text-center height-3">
                            <br/>
                            <button type="button" class="btn ink-reaction btn-primary">Button</button>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Default button</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END TYPES -->

            <!-- BEGIN STATES -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>States</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-flat btn-primary">Normal</button></p>
                            <p><button type="button" class="btn ink-reaction btn-flat btn-primary active">Active</button></p>
                            <p><button type="button" class="btn ink-reaction btn-flat btn-primary disabled">Disabled</button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Flat button states</em>
                </div><!--end .col -->
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-primary active"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-primary disabled"><i class="fa fa-star"></i></button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Icon toggle states</em>
                </div><!--end .col -->
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-primary active"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-primary disabled"><i class="fa fa-star"></i></button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Floating action button states</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-raised btn-primary">Normal</button></p>
                            <p><button type="button" class="btn ink-reaction btn-raised btn-primary active">Active</button></p>
                            <p><button type="button" class="btn ink-reaction btn-raised btn-primary disabled">Disabled</button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Raised button states</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-primary">Normal</button></p>
                            <p><button type="button" class="btn ink-reaction btn-primary active">Active</button></p>
                            <p><button type="button" class="btn ink-reaction btn-primary disabled">Disabled</button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Default button states</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END STATES -->

            <!-- BEGIN SIZES -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Sizes</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-flat btn-xs btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-flat btn-sm btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-flat btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-flat btn-lg btn-primary">Button</button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Flat button sizes</em>
                </div><!--end .col -->
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-xs btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-sm btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-icon-toggle btn-lg btn-primary"><i class="fa fa-star"></i></button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Icon toggle sizes</em>
                </div><!--end .col -->
                <div class="col-md-2 col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-xs btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-primary"><i class="fa fa-star"></i></button></p>
                            <p><button type="button" class="btn ink-reaction btn-floating-action btn-lg btn-primary"><i class="fa fa-star"></i></button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Floating action button sizes</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-raised btn-xs btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-raised btn-sm btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-raised btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-raised btn-lg btn-primary">Button</button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Raised button sizes</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><button type="button" class="btn ink-reaction btn-xs btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-sm btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-primary">Button</button></p>
                            <p><button type="button" class="btn ink-reaction btn-lg btn-primary">Button</button></p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Default button sizes</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END SIZES -->

            <hr class="ruler-xxl"/>

            <!-- BEGIN COLORS -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-primary">Button colors</h2>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Every button can emit ink ripples when pressed.
                            You only have to add <code>.ink-reaction</code> to activate this behavior.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-default-bright">Default</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-default-light">Default</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-default">Default</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-default-dark">Default</button></p>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-primary-bright">Primary</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-primary-light">Primary</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-primary">Primary</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-primary-dark">Primary</button></p>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-accent-bright">Accent</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-accent-light">Accent</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-accent">Accent</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-accent-dark">Accent</button></p>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-info">Info</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-success">Success</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-warning">Warning</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-danger">Danger</button></p>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Button colors</em>
                    <div class="card">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-default-bright">Default</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-default-light">Default</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-default">Default</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-default-dark">Default</button></p>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-primary-bright">Primary</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-primary-light">Primary</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-primary">Primary</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-primary-dark">Primary</button></p>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-accent-bright">Accent</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-accent-light">Accent</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-accent">Accent</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-accent-dark">Accent</button></p>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-info">Info</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-success">Success</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-warning">Warning</button></p>
                                    <p><button type="button" class="btn btn-block ink-reaction btn-flat btn-danger">Danger</button></p>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Transparent button colors</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END COLORS -->

            <hr class="ruler-xxl"/>

            <!-- BEGIN REGULAR GROUPS -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-primary">Layouts</h2>
                </div><!--end .col -->
                <div class="col-lg-12">
                    <h4>Regular groups</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Group a series of buttons together on a single line with the button group.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group">
                                <button type="button" class="btn ink-reaction btn-default-bright">1</button>
                                <button type="button" class="btn ink-reaction btn-default-bright">2</button>
                                <button type="button" class="btn ink-reaction btn-default-bright">3</button>
                                <button type="button" class="btn ink-reaction btn-default-bright">4</button>
                                <button type="button" class="btn ink-reaction btn-default-bright">5</button>
                                <button type="button" class="btn ink-reaction btn-default-bright">6</button>
                            </div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Button group</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END REGULAR GROUPS -->

            <!-- BEGIN TOOLBAR GROUPS -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Button toolbar</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Combine sets of <code>&lt;div class=&quot;btn-group&quot;&gt;</code> into a <code>&lt;div class=&quot;btn-toolbar&quot;&gt;</code> for more complex components.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn ink-reaction btn-default-light"><i class="fa fa-align-left"></i></button>
                                    <button type="button" class="btn ink-reaction btn-default-light"><i class="fa fa-align-center"></i></button>
                                    <button type="button" class="btn ink-reaction btn-default-light"><i class="fa fa-align-right"></i></button>
                                </div><!--end .btn-group -->
                                <div class="btn-group">
                                    <button type="button" class="btn ink-reaction btn-default-light"><i class="fa fa-bold"></i></button>
                                    <button type="button" class="btn ink-reaction btn-default-light"><i class="fa fa-italic"></i></button>
                                    <button type="button" class="btn ink-reaction btn-default-light"><i class="fa fa-underline"></i></button>
                                </div><!--end .btn-group -->
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-default-light dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-wrench"></i> <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#"><i class="fa fa-cut"></i> Cut</a></li>
                                            <li><a href="#"><i class="fa fa-copy"></i> Copy</a></li>
                                            <li><a href="#"><i class="fa fa-paste"></i> Paste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-eraser icon-style-danger"></i> Erase</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .btn-group -->
                            </div><!--end .btn-toolbar -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Toolbar</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END TOOLBAR GROUPS -->

            <!-- BEGIN TOGGLE BUTTON GROUPS -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Toggle button groups</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Add <code>data-toggle="buttons"</code> to a <code>.btn-group</code> containing checkbox or radio inputs to enable toggling in their respective styles.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-5 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn ink-reaction btn-primary">
                                    <input type="radio" name="options" id="option1"><i class="fa fa-male fa-fw"></i> Male
                                </label>
                                <label class="btn ink-reaction btn-primary">
                                    <input type="radio" name="options" id="option3"><i class="fa fa-female fa-fw"></i> Female
                                </label>
                            </div><!--end .btn-group -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Toggle radio groups</em>
                </div><!--end .col -->
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn ink-reaction btn-primary">
                                    <input type="checkbox"> <i class="fa fa-crosshairs"></i>
                                </label>
                                <label class="btn ink-reaction btn-primary">
                                    <input type="checkbox"> <i class="fa fa-map-marker"></i>
                                </label>
                            </div><!--end .btn-group -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Toggle checkbox groups</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END TOGGLE BUTTON GROUPS -->

            <!-- BEGIN JUSTIFIED GROUPS -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Justified button groups</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Make a group of buttons stretch at equal sizes to span the entire width of its parent.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                                <a class="btn btn-default-bright" role="button">Left</a>
                                <a class="btn btn-default-bright" role="button">Middle</a>
                                <a class="btn btn-default-bright" role="button">Right</a>
                            </div><!--end .btn-group -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Justified</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END JUSTIFIED GROUPS -->

            <!-- BEGIN BUTTON BLOCKS -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Button blocks</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Create block level buttons—those that span the full width of a parent— by adding <code>.btn-block</code>.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <button type="button" class="btn btn-default-bright btn-block">Sign up / Register</button>
                            <button type="button" class="btn btn-info btn-block"><span class="pull-left"><i class="fa fa-twitter"></i></span>Tweet your message</button>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Button blocks</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END BUTTON BLOCKS -->

            <hr class="ruler-xxl"/>

            <!-- BEGIN BEHAVIOR -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-primary">Behavior</h2>
                </div>
            </div><!--end .row -->
            <!-- END BEHAVIOR -->

            <!-- BEGIN INK -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Ink reaction</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Every button can emit ink ripples when pressed.
                            You only have to add <code>.ink-reaction</code> to activate this behavior.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-raised btn-primary">Button</button>
                                </div><!--end .col -->
                                <div class="col-md-2">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-floating-action btn-primary"><i class="fa fa-star"></i></button>
                                </div><!--end .col -->
                                <div class="col-md-2">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-icon-toggle btn-primary"><i class="fa fa-star"></i></button>
                                </div><!--end .col -->
                                <div class="col-md-4">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-flat btn-primary">Button</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Click the buttons to see the ink effect</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            The ink ripples take the background color into account so that they are always visible on the button.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card style-default-dark">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-raised btn-default-light">Button</button>
                                </div><!--end .col -->
                                <div class="col-md-2">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-floating-action btn-default-light"><i class="fa fa-star"></i></button>
                                </div><!--end .col -->
                                <div class="col-md-2">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-icon-toggle btn-primary-light"><i class="fa fa-star"></i></button>
                                </div><!--end .col -->
                                <div class="col-md-4">
                                    <br/>
                                    <button type="button" class="btn ink-reaction btn-flat btn-primary-light">Button</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Ink ripples on a dark background</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END INK -->

            <!-- BEGIN BUTTONS WITH DROPDOWNS -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Buttons with dropdown</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Use any button to trigger a dropdown menu by placing it within a <code>.btn-group</code> and providing the proper menu markup.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Expand <i class="fa fa-caret-down text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-expand" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Slide <i class="fa fa-caret-down text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-slide" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Dock <i class="fa fa-caret-down text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-dock" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Zoom <i class="fa fa-caret-down text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-zoom" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Dropdown with different open/close animations</em>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Expand up <i class="fa fa-caret-up text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-expand" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Slide up <i class="fa fa-caret-up text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-slide" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Dock up <i class="fa fa-caret-up text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-dock" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Zoom up <i class="fa fa-caret-up text-default-light"></i>
                                        </button>
                                        <ul class="dropdown-menu animation-zoom" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Dropup with different open/close animations</em>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-default-light">Button</button>
                                        <button type="button" class="btn ink-reaction btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-primary">Button</button>
                                        <button type="button" class="btn ink-reaction btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-primary" data-toggle="dropdown"><i class="fa fa-star"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-icon-toggle btn-primary" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Add</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Copy</a></li>
                                            <li><a href="#">Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
                                        </ul>
                                    </div><!--end .btn-group -->
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Dropdowns on different button styles</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END BUTTONS WITH DROPDOWNS -->

            <!-- BEGIN LOADING BUTTONS -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>Loading buttons</h4>
                </div><!--end .col -->
                <div class="col-lg-3 col-md-4">
                    <article class="margin-bottom-xxl">
                        <p>
                            Add <code>data-loading-text="Loading..."</code> to use a loading state on a button.
                        </p>
                    </article>
                </div><!--end .col -->
                <div class="col-lg-offset-1 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button type="button" class="btn ink-reaction btn-flat btn-primary btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">Load example</button>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <button type="button" class="btn ink-reaction btn-raised btn-primary btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">Load example</button>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-primary btn-loading-state" data-toggle="dropdown" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-star"></i></button>
                                </div><!--end .col -->
                                <div class="col-sm-3">
                                    <button type="button" class="btn ink-reaction btn-icon-toggle btn-primary btn-loading-state" data-toggle="dropdown" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-star"></i></button>
                                </div><!--end .col -->
                            </div><!--end .card-body -->
                        </div><!--end .row -->
                    </div><!--end .card -->
                    <em class="text-caption">Click the buttons to see the loading states</em>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END LOADING BUTTONS -->

        </div><!--end .section-body -->
    </section>
    </div><!--end #content-->
    <!-- END CONTENT -->