<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

    <uib-accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <uib-accordion-heading>
        Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
      <ul id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.home"><fa name="home"></fa> <span>{{ 'Menu.HOMEPAGE' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.profile"><fa name="user"></fa> <span>{{ 'Menu.PROFILE' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.categories"><fa name="cubes"></fa> <span>{{ 'Menu.CATEGORIES' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.category"><fa name="cube"></fa> <span>{{ 'Menu.CATEGORY' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.video"><fa name="video-camera"></fa> <span>{{ 'Menu.VIDEO' | translate }}</span> <span class="label label-success">new video</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.help"><fa name="book"></fa> <span>{{ 'Menu.DOCUMENTATION' | translate }}</span></a></li>
      </ul>
    </uib-accordion-group>

  </uib-accordion>
</div>
