<div class="page page-tiles" ng-controller="homepageCtrl">

  <!-- page content -->
  <div class="pagecontent">


    <div class="row">
      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Autos and Vehicles</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Comedy</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Education</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Film & Animation</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Gaming</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">How-to & Style</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Music</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">News & Politics</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Nonprofits & Activism</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">People & Blogs</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Pets & Animals</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Science & Technology</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Sports</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <center><p class="text-elg text-strong mb-0">Travel & Events</p></center>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-12">
                <a href=""><h2 style="margin-top: 0px;">2,565</h2> Videos</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->


  </div>
  <!-- /page content -->
</div>
